<div class="container">
<div class="containerHorario">
<div class="group1">
<button routerLink="/salas" class="buttonVoltar" aria-label="botao de voltar">
  <mat-icon class="seta">chevron_left</mat-icon>
</button>
<h2 class="pGroup1">Detalhes da Sala</h2>
</div>

<mat-card class="card" *ngFor="let result of response">
 <img class="imgFoto" src={{result.imagem}} alt="Salas Comercial">
 <mat-card-content class="contentCard">
    <h3>Descrição:</h3>
    <p class="p-Descriçao">
{{result.descricao}}
    </p>
    <h3>Comodidades: </h3>
    <div class="groupIcones" *ngFor="let como of result.comodidades ">
    <img class="icones" src="../../../../assets/iconOk.png" alt="">
    <p class="titleIcone">{{como}}</p>
    </div>

    <h3>Localização:</h3>
    <p class="endereço">{{result.localizacao}}</p>

  <h3>Horarios Disponíveis:</h3>
   <div class="groupHoras4">
    <div class="group4" >
     <p class="pGroup4" >Manhã:</p>
     <div class="horasManha" *ngFor="let horas of result.manha">
      <div class="horaspG4">{{horas}}</div>
        </div>
          </div>
          <div class="group4">
            <p class="pGroup4" >Tarde:</p>
            <div class="horasManha" *ngFor="let horas of result.tarde">
             <div class="horaspG4">{{horas}}</div>
               </div>
                 </div>
                 <div class="group4">
                  <p class="pGroup4" >Noite:</p>
                  <div class="horasManha" *ngFor="let horas of result.noite">
                   <div class="horaspG4">{{horas}}</div>
                     </div>
                       </div>

 </div>
    <h3>Valor:</h3>
    <p class="valor"> R$ {{result.preco}}/h</p>
<div class="groupContato">
<p class="pGroupContato">Agende uma visita conosco e conheça a sala.</p>
  <h3>Contatos:</h3>
  <div class="telefone">
  <mat-icon class="matIcon">local_phone</mat-icon>
  <p class="tel"> (11)- 3423-4594</p>
</div>
  <div class="group7">
    <img class="imgGroup7" src="../../../../assets/wats.png" alt="">
    <p class="pGroup7">(11)- 9988-8253</p>
  </div>
  <p class="parabens">Parabens pela escolha!</p>
</div>

  </mat-card-content>

</mat-card>



  </div>
    </div>



